.navigation {
  background-color: #808685;
}

.navigation h3{
  font-family: sans-serif;
  font-weight:100;
  font-size: 1.6em;
  color: white;
  text-align: center;
  padding-top: -3px;
  letter-spacing: 2px;
}

.logo {
  background-color: #4F5755;
}


/*Body----------------------------------*/
.body {
  background-color: #E6E6E6;
}

.score h3 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
}
#score {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
  padding-left: 15%;
}
.initial-display {
  text-align: center;
  border-radius: 20px;
  background-color: #99e6e6;
  border: 3px solid #32cdcd;
  box-shadow: white 1px 1px 3px 3px;
  font-family: 'Cabin Sketch', cursive;
  color: black;

}
#start {
  margin: 20px;
  min-width: 200px;
  background-color: transparent;
  box-shadow: 1px 1px 3px 3px;
}


/*button styles-------------------------*/
.play {
  text-align: center;
  max-width: 120px;
  max-height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px 3px 3px;
}

.clock {
  max-width: 300px;
  margin: auto;
}


.time-btn {
  text-align: center;
  min-width: 90px;
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px 2px;
  font-family: 'Cabin Sketch', cursive;
}
/*.timer {
  text-align: center;
}*/
.button-row {
  text-align: center;
}

/*Hidden cards-------------------------*/
#hidden-ds {
  max-width: 1136px;
  display: none;
}

.hd-move {
  max-width: 1136px;
  margin-left: 1px;
}

.hide-input {
  min-height: 130px;
  max-width: 180px;
  background-color: white;
  border-radius: 20px;
  margin: 23.6px;
  opacity: 0.8;
}

.double-set {
  float: right;
  margin-right: 2%;
  font-family: 'Cabin Sketch', cursive;
}

/*card styles--------------------------*/
.board {
  background-color: #c2d1f0;
  border-radius: 20px;
  padding: 20px;
}

.size {
  min-width: 250px;
  margin: 10px;
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0.8;
  display: block;
}
.initial-hide {
  display: none;
}

.cardStyle {
  max-width:100%;
  min-width:50%
}


.middle {
  border: 4px solid darkgray;
}

input[type=checkbox] {
    display:none;
}

.board {
 padding-top: 10px;
}

.col-xs-15{
    width:20%;
}


/*Rules------------------*/

.rules {
  text-align: center;
}
#modal-rules {
  margin-bottom: 15px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
.GOcontainer {
  text-align: center;
}

/*Modal Styles_-------------------------*/
.GOmodal-content{
  background-color: black;
}
#GOimg {
  border: 4px solid white;
  border-radius: 20px;
}
#GOclose {
  background-color: #ff6666;
  margin-left: 3px;
  margin-bottom: 10px;
}
#GOreplay {
  background-color: #80ccff;
  margin-right: 3px;
  margin-bottom: 10px;
}
.GOmodal-footer {
  text-align: center;
}
.pauseContainer {
  text-align: center;
  margin: 100px;
}
.pauseModal-content {
  background-color: black;
  font-family: 'Cabin Sketch', cursive;
}
.pauseModal-content h1 {
  margin: 30px;
  font-size: 5em;
  color: white;
  font-weight: bold;
}

}
#resume {
  background-color: black;
}
#resumeImg {
  max-width: 512px;
}
.video {
  padding-right: 10%;
  padding-top: 2%;
}
.modal-title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 2px -5px 8px black;
  font-family: 'Cabin Sketch', cursive;
}
.modal-body p {
  font-size: 16px;
}
.purple {
  color: purple;
}
.red {
  color: red;
}
.green {
  color: green;
}
.info{
  background-color: #ffcc99;
  font-family: 'Cabin Sketch', cursive;
}
#close-btn {
  background-color: #ffe6cc;
  color: #black;

}
.info-body {
  background-color: #ffe6cc;
}
.modal-body li {
  font-size: 16px;
}
#title {
  font-size: 20px;
}

/*88888888888888888*/
