.navigation {
  background-color: #808685;
}

.navigation h3{
  font-family: sans-serif;
  font-weight:100;
  font-size: 1.6em;
  color: white;
  text-align: center;
  padding-top: -3px;
  letter-spacing: 2px;
}

.logo {
  background-color: #4F5755;
}


/*Body----------------------------------*/
.body {
  background-color: #E6E6E6;
}


/*button styles-------------------------*/
.play {
  text-align: center;
  max-width: 120px;
  max-height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px 3px;
}

.clock {
  max-width: 300px;
  margin: auto;
}


.time-btn {
  text-align: center;
  min-width: 90px;
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px 2px;
}
/*.timer {
  text-align: center;
}*/
.button-row {
  text-align: center;
}

/*Hidden cards-------------------------*/
#hidden-ds {
  max-width: 1136px;
  display: none;
}

.hd-move {
  max-width: 1136px;
  margin-left: 1px;
}

.hide-input {
  min-height: 130px;
  max-width: 180px;
  background-color: white;
  border-radius: 20px;
  margin: 23.6px;
  opacity: 0.8;
}

.double-set {
  float: right;
  margin-right: 2%;
}

/*card styles--------------------------*/
.size {
  min-width: 250px;
  margin: 10px;
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0.8;
  display: block;
}

.cardStyle {
  max-width:100%;
  min-width:50%
}


.middle {
  border: 4px solid darkgray;
}

input[type=checkbox] {
    display:none;
}

.board {
 padding-top: 10px;
}

.col-xs-15{
    width:20%;
}




/*Rules------------------*/

.rules {
  text-align: center;
}
#modal-rules {
  margin-bottom: 15px;
}

/*Modal Styles_-------------------------*/
.video {
  padding-right: 10%;
  padding-top: 2%;
}
.modal-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.modal-body p {
  font-size: 16px;
}

.modal-body li {
  font-size: 16px;
}
#title {
  font-size: 20px;
}

/*88888888888888888*/
