
.body {
  /*background-image: url(/Users/Guest/desktop/Set/img/beach.jpg);
  background-repeat: no-repeat;*/
  background-color: lightgray;
  border: 2px solid lightblue;
  border-radius: 20px;
}
.countDown {
  color: green;
  text-shadow: 2px -5px 8px #EBF0A8;
}
.header {
  background-color: #D1F9F7;
  border-radius: 20px;
  border: 2px solid #118781;
  }
  .header h1 {
    text-align: center;
    font-size: 6em;
    }
/*hidden section*/

.double-set {
  float: right;
  margin-right: 12%;
}


/*card styles--------------------------*/
.size {
  min-height: 180px;
  max-width: 260px;
  background-color: lightpink;
  border-radius: 20px;
  margin: 8px;
  opacity: 0.8;
  box-shadow: 3px 3px 5px 5px #666699;
}

.move {
  padding-left: 15.5%;
  padding-right: 15.5%;
}

.hd-move {
  padding-left: 14.5%;
  padding-right: 15.5%;
}
.middle {
  border: 4px solid darkgray;
}

.container {
  min-width: 70%;
}

.hide-input {
  min-height: 180px;
  max-width: 260px;
  background-color: white;
  border-radius: 20px;
  margin: 8px;
  opacity: 0.8;
}

#hidden-ds {
  min-width: 80%;
  display: none;
}

/*button styles-------------------------*/
.play {
  text-align: center;
  max-width: 120px;
  max-height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px 3px;
}
.time-btn {
  text-align: center;
  min-width: 90px;
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px 2px;
}
.timer {
  text-align: center;
}
.button-row {
  text-align: center;
}
.rules {
  text-align: center;
}
#modal-rules {
  margin-bottom: 15px;
}

/*Modal Styles_-------------------------*/
.video {
  padding-right: 10%;
  padding-top: 2%;
}
.modal-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.modal-body p {
  font-size: 16px;
}

.modal-body li {
  font-size: 16px;
}
#title {
  font-size: 20px;
}
